In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np


class Net(nn.Module):

    def __init__(self):
        super(Net, self).__init__()
        # 1 input image channel, 6 output channels, 5x5 square convolution
        # kernel
        self.conv1 = nn.Conv2d(1, 6, 5)
        self.conv2 = nn.Conv2d(6, 16, 5)
        # an affine operation: y = Wx + b
        self.fc1 = nn.Linear(16 * 5 * 5, 120)  # 5*5 from image dimension
        self.fc2 = nn.Linear(120, 84)
        self.fc3 = nn.Linear(84, 10)

    def forward(self, x):
        # Max pooling over a (2, 2) window
        x = F.max_pool2d(F.relu(self.conv1(x)), (2, 2))
        # If the size is a square, you can specify with a single number
        x = F.max_pool2d(F.relu(self.conv2(x)), 2)
        x = torch.flatten(x, 1) # flatten all dimensions except the batch dimension
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.fc3(x)
        return x


#net = Net()
#print(net)

In [2]:
import pandas as pd

df = pd.read_csv('train.csv')
dfTest = pd.read_csv('test.csv')

In [3]:
df

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,36,Travel_Frequently,599,Research & Development,24,3,Medical,1,4,...,80,1,10,2,3,10,0,7,8,0
1,1,35,Travel_Rarely,921,Sales,8,3,Other,1,1,...,80,1,4,3,3,4,2,0,3,0
2,2,32,Travel_Rarely,718,Sales,26,3,Marketing,1,3,...,80,2,4,3,3,3,2,1,2,0
3,3,38,Travel_Rarely,1488,Research & Development,2,3,Medical,1,3,...,80,0,15,1,1,6,0,0,2,0
4,4,50,Travel_Rarely,1017,Research & Development,5,4,Medical,1,2,...,80,0,31,0,3,31,14,4,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1672,1672,30,Travel_Rarely,945,Sales,1,3,Life Sciences,1,4,...,80,0,10,2,4,10,0,0,8,0
1673,1673,32,Travel_Rarely,1303,Research & Development,2,3,Life Sciences,1,1,...,80,1,10,3,4,4,2,1,3,0
1674,1674,29,Travel_Frequently,1184,Human Resources,24,3,Human Resources,1,2,...,80,0,1,2,3,1,0,0,0,1
1675,1675,36,Travel_Rarely,441,Sales,9,2,Marketing,1,2,...,80,2,10,3,2,10,3,0,8,0
1676,1676,36,Travel_Rarely,1141,Research & Development,20,3,Life Sciences,1,3,...,80,0,10,3,2,8,2,7,3,0

In [4]:
#unique_depts = df["Department"].unique()
#decoderDepts = dict(enumerate(unique_depts)) # Decoder (id -> text)
#encoderDepts = {char: ind for ind,char in decoderDepts.items()} # Encoder (text -> id)

#def encode(encoderDepts):
#    def encodeint(inpt):
#        return encoderDepts[inpt]
#    return encodeint


#decoderDeptsVals = list(map(encode(encoderDepts), list(df["Department"])))


#3unique_BT = df["BusinessTravel"].unique()
#decoderBTs = dict(enumerate(unique_BT)) # Decoder (id -> text)
#encoderBTs = {char: ind for ind,char in decoderBTs.items()} # Encoder (text -> id)



#decoderBTvals = list(map(encode(encoderBTs), list(df["BusinessTravel"])))


#unique_EF = df["EducationField"].unique()
#decoderEFs = dict(enumerate(unique_EF)) # Decoder (id -> text)
#encoderEFs = {char: ind for ind,char in decoderEFs.items()} # Encoder (text -> id)


#decoderEFvals = list(map(encode(encoderEFs), list(df["EducationField"])))


# F.one_hot(df["Department"])

In [5]:
import torch.utils.data as data_utils

# Creating np arrays
target = df['Attrition']
features = df.drop('Attrition', axis=1)

#print(features)
#print(target)




# determine the supported device
def get_device():
    if torch.cuda.is_available():
        device = torch.device('cuda:0')
    else:
        device = torch.device('cpu') # don't have GPU
    return device

# convert a df to tensor to be used in pytorch
def df_to_tensor(df):
    device = get_device()
    return torch.from_numpy(df.values).float().to(device)

#df_tensor = df_to_tensor(df)
#series_tensor = df_to_tensor(series)


# torch.from_numpy( df.drop('Attrition', axis=1).values)


# Passing to DataLoader
# train = data_utils.TensorDataset(features, target)

#train = data_utils.TensorDataset(torch.Tensor(np.array(df)), torch.Tensor(np.array(target)))

# train_loader = data_utils.DataLoader(train, batch_size=10, shuffle=True)

In [6]:
#decoderDeptsVals[:7]

In [7]:
#decoderBTvals[:7]

In [8]:
#decoderEFvals[:7]

In [9]:
#dfTrain = df.copy()

#dfTrain["Department"] = pd.Series(data=d, index=['a', 'b', 'c'])
#dfTrain["BusinessTravel"] = pd.Series(data=d, index=['a', 'b', 'c'])
#dfTrain["EducationField"] = pd.Series(data=d, index=['a', 'b', 'c'])

#dfTrain.pop("Department") 
#dfTrain.pop("BusinessTravel")
#dfTrain.pop("EducationField")

In [10]:
#dfTrain

In [14]:
cols = df.columns

num_cols = df._get_numeric_data().columns


cats = list(set(cols) - set(num_cols))

In [15]:
cats

['JobRole',
 'Gender',
 'MaritalStatus',
 'Department',
 'Over18',
 'OverTime',
 'BusinessTravel',
 'EducationField']

In [18]:

from sklearn.model_selection import train_test_split

# prepare target
def prepare_targets(y_train, y_test):
    le = LabelEncoder()
    le.fit(y_train)
    y_train_enc = le.transform(y_train)
    y_test_enc = le.transform(y_test)
    return y_train_enc, y_test_enc


def prepare_inputs(X_train, X_test):
    oe = OrdinalEncoder()
    oe.fit(X_train)
    X_train_enc = oe.transform(X_train)
    X_test_enc = oe.transform(X_test)
    return X_train_enc, X_test_enc

# prepare input data
X_train_enc, X_test_enc = prepare_inputs(X_train, X_test)
# prepare output data
y_train_enc, y_test_enc = prepare_targets(y_train, y_test)

#for cat in cats:
#    nn.Embedding(10, 3)
#    df[cat] =

NameError: name 'prepare_inputs' is not defined

In [11]:
class MihaNetForSwag(nn.Module):

    def __init__(self):
        super(Net, self).__init__()
        # 1 input image channel, 6 output channels, 5x5 square convolution
        # kernel
        self.conv1 = nn.Conv2d(1, 6, 5)
        self.conv2 = nn.Conv2d(6, 16, 5)
        # an affine operation: y = Wx + b
        self.fc1 = nn.Linear(16 * 5 * 5, 120)  # 5*5 from image dimension
        self.fc2 = nn.Linear(120, 84)
        self.fc3 = nn.Linear(84, 10)

    def forward(self, x):
        # Max pooling over a (2, 2) window
        x = F.max_pool2d(F.relu(self.conv1(x)), (2, 2))
        # If the size is a square, you can specify with a single number
        x = F.max_pool2d(F.relu(self.conv2(x)), 2)
        x = torch.flatten(x, 1) # flatten all dimensions except the batch dimension
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.fc3(x)
        return x